body{
    background-color: #171F30;
    text-align:center;
}
#ctime, #tpick {
  font-family: 'Raleway', sans-serif;
}
.header {
  text-align: center;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

/* [CURRENT TIME] */
#ctime {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;
  background: #f2f2f2;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  text-align: center;
}
#ctime .header {
  color: #c61d1d;
}
#ctime .square {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
#ctime .digits {
  font-size: 32px;
  background: #f2f2f2;
  color: #000;
  border-radius: 5px;
}
#ctime .text {
  color: rgb(32, 32, 32);
}

/* [TIME PICKER] */
#tpick {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  background: #f2f2f2;
  white-space: nowrap;
}
#tpick-h, #tpick-m, #tpick-s {
  display: inline-block;
  width: 32%;
}
#tpick select {
  box-sizing: padding-box;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
}
#tset, #treset {
  box-sizing: padding-box;
  width: 50%;
  background: #3368b2;
  color: #fff;
  padding: 10px;
  border: 0;
  cursor: pointer;
}
#tset:disabled, #treset:disabled {
  background: #aaa;
  color: #888;
}
.container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.onOff {

  margin-top: 40px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.onOff input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00db07;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00db07;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.home
{
  color:rgb(19, 19, 19);
  text-decoration: none;
  background: #ffffff;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  border-radius:10px 10px;
}

#bodyAlarme{
  margin-top: 100px;
}
p{
  font-family: 'Nunito', sans-serif;
  color:white;
  margin-bottom: 5px;

}
#heure{
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
.libDigits{
  color:black;
}